@model WebAppContabilidad.Models.Asiento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasaCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasaCambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogoAuxiliar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatalogoAuxiliar.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monedas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monedas.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="PorCriterio">Back to List</a>
</div>
