@model IEnumerable<WebAppContabilidad.Models.TransaccionesAsientos>

<h5>Transacciones</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaContable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuentaContable.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMovimiento.Descripcion)
                </td>

            </tr>
        }
    </tbody>
</table>
